.user {
  height: 2rem;
  display: block;
  & > p {
    margin: 0;
    display: inline-block;
    margin: 0.2rem 0.3rem 0 0.1rem;
  }
}
.paragraph {
  &-gray {
    font-size: 0.75rem;
    color: #868e96;
  }
}
